<footer id="sticky-footer" class="pb-3 bg-grey text-black-50">
  <div class="container text-center">
    <div>
      <a href="https://www.facebook.com/Bela-Cosmetiks-945279552182608/" target="_blank"><i class="fab fa-facebook-f fa-lg mr-2"></i></a>
      <a href="https://www.instagram.com/belacosmetiks/" target="_blank"><i class="fab fa-instagram fa-lg mr-2"></i></a>
      <a href="https://wa.link/c6viyv"><i class="fab fa-whatsapp fa-lg"></i></a>
    </div>
    <small>Copyright 2020 &copy; Bela Cosmetik's</small><br>
    <small>Emiliano Rago</small>
  </div>
</footer>
