<div class="px-3 margin-t-pages-all animated fadeInUp pb-3">
  <div class="row">
    <div class="col-12 mb-2">
      <app-formulario [title]="true"></app-formulario>
    </div>
  </div>
  <hr>
  <div class="row text-center px-4 pt-2">
    <div class="col-12 pb-3">
      <h3>Mis Redes</h3>
    </div>
    <div class="col-12 d-flex justify-content-center mt-1">
      <div>
        <a href="https://www.facebook.com/Bela-Cosmetiks-945279552182608/" target="_blank"><p><img src="assets/img/icon-redes/facebook.png" height="36rem" alt=""></p></a>
        <a href="https://www.instagram.com/belacosmetiks/" target="_blank"><p><img src="assets/img/icon-redes/instagram.png" height="36rem" alt=""></p></a>
        <a href="https://wa.link/c6viyv"><p><img src="assets/img/icon-redes/whatsapp.png" height="36rem" style="border-radius: 8px;" alt=""></p></a>
      </div>
      <div class="ml-3">
        <p style="padding-top: 6px;">belacosmetiks</p>
        <p style="padding-top: 12px;">belacosmetiks</p>
        <p style="padding-top: 12px;">(011)5565-1852<p>
      </div>
    </div>
  </div>
  <hr>
</div>
