.img-border{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.btn-border{
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}